.container {
    margin-left: 15px;
    width: 500px;
}

.details-container {
    border: 1px solid teal;
    padding: 15px;
}

.title {
    color: teal;
}

.main-title {
    margin-top: 0;
}

.details {
    margin-top: 10px;
}

.btn {
    margin-top: 15px;
}