
table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid teal;
    padding: 15px;
    text-align: center;
}

.mood-item {
    cursor: pointer;
}

table.list tr:hover td {
    background-color: gainsboro;
}

svg {
    width: 10px; 
    height: 10px;
}

.col-title:hover {
    cursor: pointer;
}